# created by virtualenv automatically
.venv/bin
.env# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
.venv/
env/

# Ignore macOS specific files
.DS_Store

# Ignore environment variables file
.env

# Ignore PyCharm project files
.idea/
